name: Integration tests

on:
  pull_request:
  schedule:
    - cron: "0 15 * * SAT"

jobs:
  build-matrix:
    strategy:
      fail-fast: false
      matrix:
        include:
          - base: "20.04"
            index: 0
          - base: "22.04"
            index: 1
          - base: "24.04"
            index: 2
    runs-on: [self-hosted, edge]
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Ensure charmcraft is available
        run: |
          if snap list charmcraft >/dev/null 2>&1; then
            sudo snap refresh charmcraft --classic --channel=latest/stable
          else
            sudo snap install charmcraft --classic --channel=latest/stable
          fi
      - name: Clean previous charm builds
        run: rm -f aproxy_*.charm
      - name: Pack charm for base ${{ matrix.base }}
        run: charmcraft pack --bases-index=${{ matrix.index }}

  integration-tests:
    needs:
      - build-matrix
    strategy:
      fail-fast: false
      matrix:
        base:
          - "22.04"
          - "24.04"
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    permissions:
      packages: write
    with:
      load-test-enabled: false
      load-test-run-args: "-e LOAD_TEST_HOST=localhost"
      trivy-fs-enabled: true
      trivy-image-config: "trivy.yaml"
      self-hosted-runner: true
      self-hosted-runner-label: "edge"
      juju-channel: "3/stable"
      provider: "lxd"
      extra-arguments: "--base ${{ matrix.base }}"
      with-uv: true
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
      - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
