name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      load-test-enabled: false
      load-test-run-args: "-e LOAD_TEST_HOST=localhost"
      trivy-fs-enabled: true
      trivy-image-config: "trivy.yaml"
      juju-channel: "3.6/stable"
      provider: "lxd"
