# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Terraform module tests (machine-based)

on:
  pull_request:
    paths:
      - "terraform/**"

permissions:
  contents: read

jobs:
  test-terraform:
    uses: canonical/operator-workflows/.github/workflows/terraform_modules_test.yaml@feat/add_terraform_module_tests-ISD-5149
    with:
      lxd-controller: true
